venv/
__pycache__/
*.pyc

.env

backend/uploads/*
!backend/uploads/.gitkeep

backend/results/*
!backend/results/.gitkeep

.ipynb_checkpoints/

*.xlsx
!data/examples/clients_example.xlsx

*.cbm